*.flag
*.suo

Samples.opensdf
Samples.sdf

AudioLoopBackSample/config.pri

AudioLoopBackSample/Device-Debug/
AudioLoopBackSample/arm/
AudioLoopBackSampleToFile/Device-Debug/
BBMbpsRegistration/Device-Debug/
BBMbpsUserProfile/Device-Debug/
BtHrmPlugin/Device-Debug/
NativeAndOpenGLWindows/Device-Debug/
NativeCamera/Device-Debug/
RotateText/Device-Debug/
ToneGenerator/Device-Debug/
