<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{507,673}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{507,673}}</string>
                <key>sourceSize</key>
                <string>{511,681}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,1920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,1920}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>enemylaser.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1924},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>enemyship.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,511},{609,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,450}}</string>
                <key>sourceSize</key>
                <string>{609,450}</string>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>health_bar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1952},{256,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,26}}</string>
                <key>sourceSize</key>
                <string>{256,26}</string>
            </dict>
            <key>health_bar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1924},{256,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,26}}</string>
                <key>sourceSize</key>
                <string>{256,26}</string>
            </dict>
            <key>health_bar_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2006},{256,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,26}}</string>
                <key>sourceSize</key>
                <string>{256,26}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,180},{176,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>playerlaser.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1924},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>playermine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1924},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>playership.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,358},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,520},{292,292}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{292,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,2},{176,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa90b5acbcd09b762c0cb816ee3f4a5d$</string>
            <key>textureFileName</key>
            <string>spriteSheet.png</string>
        </dict>
    </dict>
</plist>
